@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Fried Piper Website Privacy Policy</h1>

<p>
    Fried Piper respects the privacy of our diners. 
    This site does not collect your data. This site does not use cookies. 
    This site only offers information about Fried Piper restaurant and its menu selection.
</p>
